:root {
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-decoration: none;
}

html {
  overflow: auto;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
  /* border: red 2px solid; */
}

.section {
  padding: 120px 0px;
}
a {
  text-decoration: none;
}

button {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 4px;
}

ul {
  list-style: none;
}

.highlight {
  color: var(--iris);
}
/* Sekcja nagłówkowa */
header .container,
header .container nav ul,
header .container ul {
  display: flex;
}
header .container {
  border-bottom: 1px var(--cornflower) solid;
}
.header-studio {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  line-height: 1.16;
  letter-spacing: 0.54px;
  align-items: center;
  margin: 24px 0px 0px 20px;
}

nav ul {
  margin: 24px 0px 0px 76px;
}
nav ul li {
  margin-inline: 40px;
}

.contacts-list {
  margin: 24px 0px 24px 0px;
  margin-left: 332px;
}
.contacts-list li:not(:last-child) {
  margin-inline: 40px;
}

.contacts-list li a {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.logo-header {
  color: var(--navy-blue);
}
nav a {
  color: var(--slate);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

nav a:focus {
  color: var(--ocean);
}
.nav-list-item:focus {
  color: var(--ocean);
}
nav a:hover {
  color: var(--ocean);
}

.contacts-list li a:hover {
  color: var(--ocean);
}

button:hover {
  cursor: pointer;
}
figure {
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.16);
}

/* Hero section */
.hero-section {
  background-color: var(--navy-blue);
  max-height: 600px;
  max-width: 1440px;
  text-align: center;
  justify-content: center;
  padding: 188px 0px;
  margin: 0 auto;
}
.hero-section h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 492px;
  margin: 0 auto;
}

.hero-section button {
  background-color: var(--iris);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-top: 48px;
  padding: 16px 32px;
}
.hero-section button:hover {
  background-color: var(--ocean);
}
/* Sekcja głownego artykułu */

.main-article ul li:first-child {
  margin: 0 auto;
}
.main-article ul li:last-child {
  margin: 0 auto;
}

.main-article ul {
  display: flex;
}

.main-article-list-item {
  width: 264px;
}
.main-article h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navy-blue);
}
.main-article p {
  font-size: 16px;
  color: var(--slate);
  letter-spacing: 0.32px;
}

/* Sekcja poswiacona what are we doing */
.doing-section {
  padding-top: 0;
}
.doing-section ul {
  display: flex;
}
.doing-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
}

.main-article ul li {
  margin: 0 24px;
}

.doing-section ul li:first-child {
  margin: 0 auto;
}
.doing-section ul li:last-child {
  margin: 0 auto;
}
.team-section {
  background-color: var(--cloud);
  width: 1440px;
  text-align: center;
  margin: 0 auto;
}
.team-section ul li {
  margin: auto;
}

.team-section ul {
  display: flex;
}
.team-section h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.team-section h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-section p {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.footer-section {
  background-color: var(--navy-blue);
  color: #f4f4fd;
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.54px;
}
.footer-studio {
  color: var(--cloud);
}
.footer-section p {
  width: 264px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.filter-list-item button {
  color: var(--iris);
  background-color: var(--cornflower);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 12px 24px;
  margin-bottom: 72px;
}

.filter-list-item button:hover {
  color: white;
  background-color: var(--ocean);
  cursor: pointer;
}

.filter-list {
  text-align: center;
}
.photo-section {
  max-width: 1440px;
  margin: 0 auto;
}
.photo-section ul:nth-child(2) li {
  display: inline;
  margin: 0 auto;
}
.photo-section ul:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
}
.photo-section ul li {
  margin: 0 auto;
}

.photo-section h1 {
  display: none;
}
.photo-section h3 {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.photo-section p {
  color: var(--slate);
}
.photo-section-list {
}
.photo-section-list li {
  border: 1px var(--cornflower) solid;
  background-color: white;
}
